/* Responsive container of the svg element */
.responsive-svg-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.responsive-svg-container.small {
  margin: 0 auto;
  max-width: 300px;
}


}

/* Legend */
.legend-sections {
  display: flex;
}

.legend-bar {
}

.footer {
  text-align: center;
}

h3 {
  font-weight: normal;
}