/* Responsive container of the svg element */
/*.container {
  /* position: absolute;
  width: 100%;
  max-width: 1200px;
}

.container.small {
  margin: 0 auto;
  max-width: 300px;
}

/*map*/
.map {
  position: relative;
  /* border: 5px solid brown; */
  overflow: hidden;
}

/* Legend */
.legend-circle {
  position: absolute;
  display: flex;
}

.legend-bar {
  position: absolute;
}

.footer {
  text-align: center;
}

h3 {
  font-weight: normal;
}

.labels {
  font: italic 13px sans-serif;
}

text>tspan {
  font: 12px sans-serif;
}

.title-legend {
  font: bold 13px sans-serif;
}

.annotation-note-title>tspan {
  font: 15px sans-serif;
  font-weight: bold;
}

.annotation-note-label>tspan {
  font: 15px sans-serif;
}